[submodule "subprojects/raylib"]
	path = subprojects/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "subprojects/imgui_build/imgui"]
	path = subprojects/imgui_build/imgui
	url = https://github.com/ocornut/imgui.git
